.App{
    background-color: #e5e5e5;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.game table{
    width: 60%;
    aspect-ratio: 1/1;
}

.game td{
    border: solid #252525 3px;
}

.game td .free:hover{
    background-color: lightgreen;
}

.game td .selected:hover{
    background-color: lightcoral;
}

.game div{
    background-color: rgba(37, 37, 37, 0.5);
    backdrop-filter: blur(2px);
}

.menu{
    background-color: #d5d5d5;
}

@media(max-width: 768px){
    .game table{
        width: 90%;
        aspect-ratio: 1/1;
    }
}